.navbar {
    background-color: white;
    padding: 2px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: black;
    font-size: 1.0rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.navbar-nav .nav-item .nav-link {
    color: black;
    font-weight: 500;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #34495e;
    color: #ffffff;
}

.fas.fa-user-circle {
    color: #34495e;
    transition: color 0.3s ease;
}

.fas.fa-user-circle:hover {
    color: #1abc9c;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

body {
    padding-top: 80px;
}

.navbar-nav .nav-item .nav-link.active {
    color: #1abc9c;
    background-color: #34495e;
    border-radius: 5px;
}

#searchInput {
    width: 200px;
    transition: width 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

#searchInput:focus {
    width: 300px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 184, 255, 0.5);
}

#searchForm {
    flex-grow: 1;
    max-width: 500px;
    margin: 0 auto;
}

.btn.btn-outline-success {
    background-color: #1abc9c;
    color: white;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.btn-outline-success:hover {
    background-color: #16a085;
    color: white;
}
