/* .custom-alert {
    background-color: #f8d7da !important;
    color: black !important;
    border-color: #f5c6cb !important;
}
.custom-alert .close {
    color: black;
}
.alert-danger {
    color: #ff0000;
    background-color: #ffe5e5;
    border-color: #ff0000;
}
.flash-center {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px; 
} */

