body {
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #343a40;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    align-items: center;
    position: relative;
    color: black;
}

.login-container h2 {
    text-align: center;
}

h2 {
    color: #343a40;
}

.user-type {
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 30%;
}

.user-type img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-title {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.btn-custom:hover {
    background-color: #0056b3;
    color: white;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}

.mt-3 {
    text-align: center;
}

.user-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-title {
    display: block;
}

.alert-danger {
    color: #ff0000;
    background-color: #ffe5e5;
    border-color: #ff0000;
}
