{% extends 'layout.html' %}

{% block title %}
Your Cart - Expert Household Services
{% endblock %}

{% block content %}
<div class="cart-container">
    <header>
        <h2>Your Cart</h2>
    </header>
    <form action="{{ url_for('view_cart') }}" method="GET" class="common-search-form mt-3 mb-4">
        <input type="text" name="query" class="form-control" placeholder="Search in your cart" value="{{ query }}">
        <button type="submit" class="btn btn-primary">Search</button>
        <a href="{{ url_for('view_cart') }}" class="btn btn-secondary">Clear</a>
    </form>
    <section class="cart-details">
        {% if services %}
            <div class="cart-list">
                {% for service in services %}
                    <div class="cart-item">
                        <h3>{{ service.service_name }}</h3>
                        <div class="form-row">
                            <label><strong>Price (in Rs):</strong></label>
                            <span>{{ service.price }}</span>
                        </div>
                        <div class="form-row">
                            <label><strong>Estimated Time (in hrs):</strong></label>
                            <span>{{ service.time_required }}</span>
                        </div>
                        <div class="form-row actions">
                            <a href="{{ url_for('remove_from_cart', service_id=service.id) }}" class="btn btn-danger">Remove from Cart</a>
                        </div>
                    </div>
                    {% if not loop.last %}<hr>{% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p class="no-services-msg">Your cart is empty.</p>
        {% endif %}
    </section>

    <div class="actions">
        <a href="{{ url_for('available_services') }}" class="btn btn-primary">Continue Shopping</a>
        <a href="{{ url_for('checkout') }}" class="btn btn-success">Proceed to Checkout</a>
    </div>
</div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/search_bar.css') }}">

{% endblock %}
