{% extends 'layout.html' %}

{% block title %}
Thank You for Registering - Expert Household Services
{% endblock %}

{% block content %}
<div class="status-page">
    <h2>Welcome {{ username }}!</h2>
    <h2>Thank You for Registering!</h2>
    <p>We appreciate your interest in joining our platform. Your registration has been received, and our team is currently reviewing your details.</p>
    <p>Once approved, you’ll be able to start offering your services. We’ll notify you via email when your account is ready to go.</p>
    <p>If you have any questions, please feel free to reach out to our support team at <a href="mailto:support@householdservices.com">support@householdservices.com</a>.</p>
    <a href="{{ url_for('home') }}" class="btn btn-primary">Back to Home</a>
</div>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_service_prof.css') }}">
{% endblock %}